@import "_variables";
@import "_functions";
@import "_icons";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a; //Dark background for entire body
    color: #f0f0f0; //Light text colour for contrast
    margin: 0;
    padding: 0;
}

.container{
    @include flexbox(column,center);
    align-items: center;

    #join-now-btn {
        background-color: #a4c639; //Green background for buttons
        color: #1a1a1a; //Dark text for contrast
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
        display: inline-block;
        margin-top: 20px;
        max-width: max-content;
    }

    #join-now-btn:hover {
        background-color: #8ebf27; //
    }
}
