@import "_variables";
@import "_functions";
@import "_icons";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1a1a1a; //Dark background for entire body
    color: #f0f0f0; //Light text colour for contrast
    margin: 0;
    padding: 0;
}

.container{
    @include flexbox(column,center);
    align-items: center;
}
