@import "_variables";
@import "_functions";


body{
    background-color: #1a1a1a; //Dark background for entire body
    color: #f0f0f0; //Light text colour for contrast
    margin: 0;
    padding: 0;
}

.plan-container, .main-content{
    background-color: #222;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.plan-container h1, .main-content h1{
    margin-bottom: 10px;
}

.plan-container p, .main-content p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

//Join button
.join-now-btn{
    background-color: #8ebf27; //Green background
    position: absolute;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.join-now-btn:hover{
    background-color: #2D9CDB;
}

//Responsiveness
@media (max-width: 768px){
    .navbar ul{
        flex-direction: column;
        align-items: center;
    }

    .navbar ul li{
        padding: 10px 0;
    }
}