@import "_variables";
@import "_functions";
@import "_icons";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // background-color: #1a1a1a; //Dark background for entire body
    color: #f0f0f0; //Light text colour for contrast
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.container{
    @include flexbox(row,center);

    .login{
        @include flexbox(column,center);
        color: white;
        border: 1px solid black;
        padding: 10px;
        background-color: #333;
        border-radius: 10px;
        width: 80%;
        max-width: 600px;

        h1{
            text-align: center;
        }

        .form-row{
            @include flexbox(row,space-around);
            margin-bottom: 10px;

            i{
                @include box(40px);
            }

            label{
                width: 90px;
                height: 40px;
            }

            input{
                border-radius: 5px;
                border-style: none;
                width: 70%;
            }

        }

        .form-error{
            color: red;
        }

        .form-success{
            color: green;
        }

        .input-error{
            box-shadow: 0 0 5px red;
        }

        label{
            transform: normal;
        }

        button{
            width: 100%;
            background: radial-gradient(rgba(0,255,0,0.5), rgba(0,255,0,1));
            border-radius: 10px;
        }

        .cancelbtn{
            background: radial-gradient(rgba(255,0,0,0.3), rgba(255,0,0,1));
        }
    }
}
